* {
	margin: 0;
	padding: 0;
}
body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-size: cover;
    background-image: url("https://assetslistfortwinestuff.yolasite.com/ws/media-library/b63899b399ef48fd9a6eaa7167f3ea8b/illustration17-1.webp");
}
.header {
	z-index: 1;
	background-size: cover;
    background-image: url("https://assetslistfortwinestuff.yolasite.com/ws/media-library/b63899b399ef48fd9a6eaa7167f3ea8b/illustration17-1.webp");
	width: 100%;
	height: 100vh;
}
.header ul {
	height: 50px;
	display: flex;
	justify-content: center;
}
.header ul li {
	display: inline-block;
	padding: 40px 15px;
}
.header ul li a {
	text-decoration: none;
	color: rgb(157, 207, 207);
	text-transform: uppercase;
	font-size: 20px;
	padding: 5px 10px;
}
.header ul li a:hover {
	background: rgb(72, 113, 141);
	color: #000;
}
.header h2 {
	text-align: center;
	color: rgb(173, 218, 224);
	font-size: 60px;
	margin-top: 15%;
	margin-bottom: 20px;
}
.header p {
	text-align: center;
	font-size: 18px;
	width: 35%;
	margin: auto;
	color: #ddd;
	line-height: 1.7;
}
